<div class="row" id="row_msg">
  <ul id="messages"></ul>
</div>
<form action="">
<div class="row">
  <div class="col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" autocomplete="off" id="m">
        <span class="input-group-addon" id="send"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
      </div>
  </div>
  <div class="col-xs-1">
      
  </div>
</div>
  
</form>


<script src="/socket.io/socket.io.js"></script>
<script>
  window.onload = function() {

      var socket = io();
      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        var d = new Date();
        $('#messages').append($('<li class="msg">').text(msg));
        $('#messages').append($('<li class="timestamp">').text(d.getHours()+":"+d.getMinutes()+":"+d.getSeconds()));
      });

  }

</script>